.header {
  color: #fff; /* Kolor tekstu */
  padding: 10px 0; /* Wewnętrzny odstęp */
}

.nav {
  text-align: center; /* Wycentrowanie elementów nawigacji */
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 58px;
  list-style-type: none; /* Usunięcie punktów listy */
  padding: 0; /* Usunięcie wewnętrznego odstępu listy */
  margin: 0; /* Usunięcie marginesu listy */
}

/* Efekt zmiany koloru tekstu po najechaniu myszką */
.navLink:hover {
  color: #007bff; /* Nowy kolor tekstu po najechaniu myszką */
}
